services:
  server1:
    build: ./Dockerfiles/ubuntu
    container_name: server1
    hostname: server1
    restart: always
    volumes:
      - ./data/server1:/server1files
      - ./config/cron/passphrase:/run/secrets/gpg_passphrase:ro
    networks:
      - backup_luks
  server2:
    build: ./Dockerfiles/ubuntu
    container_name: server2
    hostname: server2
    restart: always
    volumes:
      - ./data/server2:/server2files
      - ./config/cron/passphrase:/run/secrets/gpg_passphrase:ro
    networks:
      - backup_luks
  backup:
    build: ./Dockerfiles/ubuntu
    container_name: backup
    hostname: backup
    restart: always
    cap_add:
      - SYS_ADMIN
    volumes:
      - ./config/rsnapshot/rsnapshot.conf:/etc/rsnapshot.conf:ro
      - ./config/cron/crontab:/etc/cron.d/rsnapshot:ro
      - ./config/rsnapshot:/var/log/rsnapshot:rw
      - ./config/cron/passphrase:/run/secrets/gpg_passphrase:ro
      - ./data/backup/snapshots:/snapshots
      - ./config/scripts:/scripts
    networks:
      - backup_luks

networks:
  backup_luks:
    driver: bridge
